.nav {
    width: 100vw;
    background: var(--primary-color);
    box-shadow: 0 0 10px var(--shadow-color);
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logoImg {
    width: 3rem;
    height: auto;
}

.items {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
    z-index: 199;
}

.item {
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 500;
}

.item:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
}


.hamburger {
    display: none;
    flex-direction: column;
    gap: 0.25rem;
    padding-right: 1rem;
    cursor: pointer;
    z-index: 299;
}

.line {
    width: 32px;
    height: 4px;
    background: var(--secondary-color);
    border-radius: 5px;
    transition: all 0.3s ease;
}

.hamburger.close .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.close .line:nth-child(2) {
    opacity: 0;
}

.hamburger.close .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


@media screen and (max-width: 768px) {
    .items {
        gap: 0.5rem;
        padding-right: 0;
    }

    .item {
        font-size: 1.25rem;
        padding: 0.25rem 0.5rem;
    }

    .nav {
        padding: 0.25rem 0.5rem;
    }
}

@media screen and (max-width: 600px) {
    .items {
        position: fixed;
        top: 0;
        right: -150%;
        flex-direction: column;
        background: var(--primary-color);
        height: 100vh;
        width: 100vw;
        gap: 2rem;
        transition: all 0.75s ease;
    }

    .items.open {
        right: 0;
    }

    .item {
        font-size: 2rem;
    }

    .hamburger {
        display: flex;
    }

}