
<section class="about">
    <div class="container">
        <div class="header">
<h1> ABOUT US</h1>
<p> WE PROVIDE RELIABLE MANPOWER TO INDUSTRIES</p>
</div>

<br>
<br>
    <div classname="text">
    <h3> WE HAVE 8+ YEARS OF EXPERIENCE IN MANPOWER HANDLING</h3>
    <p> WE'RE RELIABLE MANPOWER HANDLING COMPANY WITH OVER <strong> 8 YEARS OF INDUSTRY EXPERIENCE </strong>
    OUR WORKFORCE OF <strong> 300+ TRAINED AND SKILLED WORKERS</strong> SUPPORTS OPERATION ACROSS
    INDUSTRIAL PLANTS, FACTORIES, AND CHEMICAL UNITS WITH SAFETY AND EFFICIENCY.</p>
</div>
<div class="stat box 1">
<h4> 8+</h4>
<span> YEARS OF EXPERIENCE</span>
</div>


<div classname="stat box 2">
    <h4> 300 +</h4>
    <span> SKILLED AND TRAINED LABOURS </span>
    </div>
    
    <div class="stat box 3">
     <h4> 15+</h4>
     <span>PROJECT COMPLETED</span>
    </div>


    <div classname="clients">
        <h4> WORKED WITH</h4>
        <ol>
            <li> SUNSHINE</li>
            <li> AVTL</li>
            <li> AND MORE</li>
        </ol>
    </div>


   






    </div>

</section>


 



