@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root[data-theme="light"] {
    --primary-color: #fafafa;
    --primary-color-2: #f0f0f0;
    --secondary-color: #181818;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --shadow-color-2: rgba(0, 0, 0, 0.5);
    --accent: rgb(0, 186, 172);
}

:root[data-theme="dark"] {
    --primary-color: #0f0f0f;
    --primary-color-2: #161616;
    --secondary-color: #f2f2f2;
    --shadow-color: rgba(0, 0, 0, 0.7);
    --shadow-color-2: rgba(255, 255, 255, 0.08);
    --accent: rgb(0, 186, 172);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(14px, 1vw, 18px);
}


body {
    background: var(--primary-color);
    overflow-x: hidden;
}