.hero {
  width: 100vw;
  height: 85vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.videoCont {
  position: absolute;
  inset: 0;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.heading {
    z-index: 9;
    color: var(--primary-color);
    font-size: 4.5rem;
    font-weight: 700;
}

.detail {
    color: var(--primary-color);
    font-size: 1.5rem;
    width: 60%;
    padding-top: 2rem;
    font-weight: 500;
}

.buttons {
    padding-top: 1rem;
    z-index: 499;
}

.cta {
    color: var(--primary-color);
    background: var(--secondary-color);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cta:hover {
    background: var(--shadow-color-2);
    transform: scale(1.01);
}

@media screen and (max-width: 450px) {
    .heading {
        font-size: 3.5rem;
    }

    .detail {
        width: 100%;
        font-size: 1.25rem;
        padding-top: 1rem;
    }
}